/* Box Model Hack */
* {
	box-sizing: border-box;
}

body {
	background: #182624;
	color: white;
	font-family: "Montserrat", Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 0 4rem;
}

html {
	font-size: 62.5%;
}



/******* TEXT ********/



h1 {
	font-size: 6rem;
	margin: 4rem 0 6rem 0;
	text-align: center;
	font-family: "Montserrat Subrayada", Helvetica, sans-serif;
}

h2 {
	font-size: 4rem;
	text-align: center;
	margin-bottom: 4rem;
}

h3 {
	font-size: 8rem;
	margin: 2rem;
	text-align: center;
	font-family: "Montserrat", Helvetica, sans-serif;
	color: #03D9AC;
}

h4 {
	font-size: 2.8rem;
	margin: 2rem;
	text-align: center;
	font-family: "Montserrat", Helvetica, sans-serif;
	color: #03D9AC;
}

p {
	font-size: 2rem;
	margin: 2rem 0 4rem 0;
	text-align: center;
	line-height: 3rem;
	font-weight: 200;
}

label {
	font-size: 4rem;
	text-align: center;
	margin-top: 2rem;
}

a {
	text-decoration: none;
}




/******* HOME PAGE ********/




.home-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: transparent;
	border: 1px solid #03D9AC;
	color: white;
	border-radius: 20px;
	margin: 2rem 0;
	height: 8rem;
	width: 40rem;
	font-size: 3rem;
	font-family: "Montserrat", Helvetica, sans-serif;
	cursor: pointer;
	text-transform: uppercase;
}

button:hover {
	background: #03D9AC;
	color: #0e1312;
}



/******* HOST *******/

input {
	border-radius: 20px;
	margin: 2rem 0;
	height: 8rem;
	width: 40rem;
	font-size: 3rem;
	font-family: "Montserrat", Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.host-game-username {
	margin-top: 2rem;
}

.slidecontainer {
	display: flex;
	justify-content: center;
  width: 100%; /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 2px;
  border-radius: 5px;  
  background: white;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #03D9AC;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}


/****** JOIN GAME ********/


form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input:focus {
	outline: none;
}

span {
	font-size: 1.4rem;
	margin-top: 1.4rem;
}

.room-code {
	margin: -2rem 0;
}

.bottom-button {
	margin-top: 6rem;
}


/****** YOUR MISSIONS ******/

.header {
	display: flex;
}

.icon {
	display: flex;
	margin-top: 4rem;
	margin-left: 10rem;
}

.missions-header {
	margin-bottom: 2rem;
}
.mission-statement {
	font-weight: 600;
}

.mission-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: transparent;
	border: 1px solid #03D9AC;
	color: white;
	border-radius: 20px;
	margin: 2rem 0;
	padding: 2rem 4rem;
	height: 15%;
	width: 70%;
	font-family: "Montserrat", Helvetica, sans-serif;
	cursor: pointer;
	text-transform: uppercase;
}

.mission-text {
	text-align: center;
	margin: 0;
	font-size: 1.8rem;
	line-height: 2.2rem;
	word-wrap: anywhere;
}




/****** MEDIA QUERIES********/


@media screen and (max-width: 1000px) {
  .mission-card {
		width: 100%;
	}
}


@media screen and (max-width: 500px) {
  html {
		font-size: 60%;
	}
	.slider {
		width: 80%;
	}
	.mission-card {
		width: 100%;
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 400px) {
  html {
		font-size: 50%;
	}
}

@media screen and (max-width: 340px) {
  html {
		font-size: 40%;
	}
}

@media screen and (max-width: 270px) {
  html {
		font-size: 30%;
	}

	.mission-card {
		width: 100%;
		font-size: 1.4rem;
		height: 10%;
	}
}